nav a {
  text-decoration: none !important;
}

.nav-link {
  cursor: pointer;
}

.header {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
  filter: brightness(80%);
  object-position: 100% 0;
}

.header_bottom{
  height: 50px;
  background-image: linear-gradient(rgb(76, 75, 75), rgb(107, 107, 107));
}

.skills_wrapper{
  display: block;
  margin: 100px auto 100px auto;
}

.skills{
  font-size: 30px;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.skills_label{
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 30px;
  margin-left: 50px;
}

.skills_element {
  box-sizing: border-box;
  flex-basis: 0;
  flex: 1 1 0px;
}

.project_title{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 50px;
}

.project1_wrapper{
  margin: 100px 150px 100px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project1_img {
  width: 350px;
  height: 300px;
  flex: 1 1 40%;
}

.project1_text {
  flex: 1 1 60%;
}

.project1_wrapper .title{
  margin-bottom: 30px;
}

.project1_link {
  color: black;
}

.project1_link:link {
  text-decoration: none;
}

.project1_link:visited {
  text-decoration: none;
}

.project1_link:hover {
  text-decoration: none;
}

.project1_link:active {
  text-decoration: none;
}


